@model List<_3DBook.Models.ChildrenViewModels.ChildrenViewModel>

@{
    ViewData["Title"] = "Children List";
}
@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <a class="btn btn-dark" asp-controller="Children" asp-action="Create" asp-route-id="@ViewBag.FolderId">Create</a>
    <hr />
}
<div class="row">
    <div class="col col-xl-6 col-md-8 col-sm-12">
        <table class="table table-responsive table-responsive-sm">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Plm</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model)
                {
                    <tr>
                        <td>@element.FatherCode @element.Code</td>
                        <td>@element.Plm</td>
                        <td>
                            <a class="btn btn-outline-dark"><i class="bi bi-pencil"></i> </a>
                            <a class="btn btn-dark" asp-action="Download" asp-route-id="@element.ChildImageId"><i class="bi bi-cloud-download"></i></a>
                            <a class="btn btn-outline-dark" asp-action="Delete" asp-route-folderId="@ViewBag.FolderId" asp-route-childId="@element.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>