@model List<_3DBook.Models.FolderViewModel.FoldersViewModel>

@{
    ViewData["Title"] = "Folders list";
}

@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <a class="btn btn-dark" asp-action="Create" asp-controller="Folder">Create</a>
    <hr />
}
<div class="card mb-3">
    <div class="card-header bg-grullo">
        <div class="card-title text-white text-center"><h1>Filters</h1></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4 mb-2">
                <input class="form-control" placeholder="Folds" />
            </div>
            <div class="col-4 mb-2">
                <input class="form-control" placeholder="Enter" />
            </div>
            <div class="col-4 mb-2">
                <input class="form-control" placeholder="Exit" />
            </div>
            <div class="col-4 mb-2">
                <input class="form-control" placeholder="Machine" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var folder in Model)
    {
        <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header border border-dark text-center">
                            <label class="form-label"><strong>3D Code:</strong></label>
                            @folder.Code
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <strong>Folds: </strong>@folder.Folds mm
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <strong>Enter: </strong>@folder.Enter mm
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <strong>Exit: </strong>@folder.Exit mm
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <strong>Machine: </strong>@folder.MachineName
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark">Children</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

